.card-details {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  width: 500px;
  /* min-height: 400px; */
  display: inline-block;
  border-radius: 10px;
  border: 2px solid #02072F;
}

.col-9 .card-details .top {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-9 .card-details .top .location h3 {
  font-size: 20px;
  font-family: cursive;
  margin-top: 10px;
  color: rgba(1, 36, 82, 0.836);
  font-weight: 500;
  line-height: 1em;
  white-space: nowrap;
}

/* .userDetails a {
  color: initial;
} */

.petDescription {
  font-size: 18px;
  margin-left: 10px;
}

.pet-details {
  margin: 5px 0 5px -1px;
  font-family: cursive;
}

/* .comments {
  display: flex;
  margin-top: 10px;
  border-top: 1px solid #ddd;
}

.comments .userDetails {
  display: block !important;
  margin-top: 10px;
  margin-left: 10px;;
}

.comments span {
  color: gray;
  font-size: 10px;
}

.comments h3 {
  display: flex;
  word-wrap: break-word;
  white-space: normal;
}

.comments .top {
  padding: 10px !important;
}

.comment-data {
  display: flex;
  font-size: 10px;
  word-break: break-all;
  white-space: normal;
  font-weight: bold;
  color: rgb(70, 65, 65);
}

.comment-data h3 {
  margin-top: 5px;
}

.comment-data p {
  margin-top: 4px;
  font-size: 13px;
  word-wrap: break-word;
  white-space: normal;
  font-weight: lighter;
}

.add-comment-details .addComments {
  margin-top: 0 !important;
} */

.edit-delete-btns {
  position: absolute;
  top: 20px;
  right: 10px;
}

.edit-delete-btns img {
  width: 30px;
  margin-right: 5px;
}

.button {
  border-color: red;
}

.message {
  font-weight: 400;
  margin-top: 5px;
  font-size: 14px;
  color: #777;
  line-height: 1.5em;
  font-family: cursive;
}

.message b {
  color: #262626;
}

.message span {
  cursor: pointer;
  color: #1d92ff;
}

.addComments {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.addComments button {
  position: absolute;
  right: 30px;
  color: #02072F;
  font-weight: 500;
  font-size: 18px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

#comment-textarea {
  position: absolute;
  left: 30px;
  width: 85%;
  resize: none;
  overflow: hidden;
  height: 20px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: #262626;
  background: none;
}

textarea.text::placeholder {
  color: #777;
}

.addComments form label {
  display: none;
}

.addComments form {
  display: flex;
  margin-bottom: 15px;
}