.editPage {
	margin-top: 50px;
}

.editPage {
	display: block;
	width: 600px;
	background-color: rgb(242, 246, 247);
	border: 1px solid rgb(1, 30, 39);
	padding: 20px 40px;
	margin-bottom: 80px;
	border-radius: 10px;
	border: 2px solid rgb(7, 7, 24);
	box-shadow: 2px 2px 3px #03b4fa;
}

.editPage h2 {
	font-family: "Indie Flower", cursive;
	font-size: 40px;
	text-align: center;
	margin-top: -10px;
	text-shadow: 1px 1px rgb(65, 63, 63);
}

.editPage label {
	display: none;
}

.editPage input {
	background-color: rgb(227, 248, 252);
	border: 0.1px solid rgb(15, 8, 8);
	border-radius: 3px;
	height: 30px;
	width: 100%;
	padding-left: 2px;
	margin-top: 10px
}

.editPage textarea {
	background-color: rgb(227, 248, 252);
	border: 0.1px solid rgb(15, 8, 8);
	border-radius: 3px;
	height: 100px;
	padding-left: 2px;
	margin-top: 30px;
	width: 520px;
	font-size: 16px;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
}

.editPage button {
	color: rgb(8, 1, 1);
	font-weight: bold;
	font-size: 16px;
	border: none;
	width: 100%;
	border-radius: 3px;
	margin-top: 30px;
	height: 30px;
	box-shadow: 2px 3px #888888;
	cursor: pointer;
}

.editPage a {
	color: white;
}

.editPage label {
	display: initial !important;
	margin-top: 12px;
	margin-right: 5px;
	white-space: nowrap;
}

.edit-photo input {
	padding: 3px;
}

.edit-btn {
	background-color: rgb(43, 188, 207);
}


.edit-delete button:hover {
	box-shadow: none;
}
